
.icon {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 2px 8px 0 rgba(162, 175, 155, 0.10);
    background: #EEE;
    margin-bottom: .5rem;
    margin-right: 80%;
    display: block;
}


.quote-card {
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 420px;
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

#qoute {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 0.5rem;
}

